

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 

.opacit{opacity: 0.5} 

 .mask{
    mask-image: linear-gradient(black, transparent);
    /* mask-image: radial-gradient(black 20%, rgba(0, 0, 0, 0.5) 40%); */
  /* mask-image: radial-gradient(black 30%, rgba(0, 0, 0, 0.5)); */
}


.clip{position: absolute;
   clip: rect(0px,60px,200px,0px);}

.origin{
    padding: 200px;
    transform: rotate(45deg);
    transform-origin: 20% 40%;
}

.repeat{
    border: 2px solid black;
    padding: 25px;
    background: url("grama.jpeg");
    /* background-repeat: no-repeat; */
    /* background-repeat: round; */
    /* background-repeat: space; */
    /* background-repeat: repeat; */

 }

.gradient{ background-image: linear-gradient(red, yellow);}